Sec 8.1 "Check List and Timer State Updates"

Rajmohan Banavi wrote:

        there is
        something wrong here in this paragraph. Why would a vanilla ICE
        agent set the state of a check list to Failed if the pairs in
        the check list are in succeeded state (bullet 1)? Further, it
        says that "if the following two conditions are satisfied". Is it
        either one of the two conditions? Good idea to provide a
        reference to RFC 5245 (sec 7.1.3.3), since we are describing the
        operation of vanilla ICE. 



I think this is slightly clearer as:

   The ICE specification [RFC5245], Section 7.1.3.3, requires that
   agents update check lists and timer states upon completing a
   connectivity check transaction.  During such an update vanilla ICE
   agents would set the state of a check list to Failed if both of the
   following two conditions are satisfied:

   o  all of the pairs in the check list are either in the Failed or
      Succeeded state; and

   o  there is no pair in the valid list for each component of the media
      stream.


Addressed in draft-ietf-ice-trickle-01.
