Scheduling Checks

In his review, Rajmohan Banavi said:

      * During implementation, one of the issues that surfaced was
        regarding the check list timer.Â RFC 5245 Sec 5.8 "Scheduling
        Checks" mentions that if there is no such pair, "Terminate the
        timer for that check list".Â This is obviously not going to work
        with trickled ice candidates as the candidate pairs list will
        keep filling up incrementally. So for trickled ice, the
        conditions for stopping of the check list timer must be changed.
        Probably the checklist timer must not be stopped until the
        checklist moves to completed or Failed state. 

I propose that we add a new section to address this issue:

   8.1.  Scheduling Checks

   The ICE specification [RFC5245], Section 5.8, requires that agents
   terminate the timer for a triggered check in relation to an active
   check list once the agent has exhausted all frozen pairs in check
   list.  This will not work with trickle ICE, because more pairs will
   be added to the check list incrementally.

   Therefore, a trickle ICE agent SHOULD NOT terminate the timer until
   the state of the check list is completed or failed as specified
   herein (see Section 9.3).


Addressed in draft-ietf-ice-trickle-01.
